[Unit]
Description=(Ai)rcade Print Server
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/aircade/AIRCADE
ExecStart=/usr/bin/python3 /home/aircade/AIRCADE/print_server_linux.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
